# MongoDB
MONGODB_URI=mongodb://localhost:27017/carRental

# Server
PORT=5000

# Telegram Bot
# @BotFather dan bot yaratib token oling
TELEGRAM_BOT_TOKEN=your_bot_token_here

# @userinfobot dan o'z Telegram ID'ingizni oling
TELEGRAM_CHAT_ID=your_chat_id_here
